In [2]:
## reload submodule
%load_ext autoreload
%autoreload 2

In [6]:
from qfin.api.yahoo import yahoo

ticker_data = yahoo(ticker="^SPX", start="2025-01-01", interval="1d")
ticker_data

Price              open         high          low        close      volume
date
2025-01-02  5903.259766  5935.089844  5829.529785  5868.549805  3621680000
2025-01-03  5891.069824  5949.339844  5888.660156  5942.470215  3667340000
2025-01-06  5982.810059  6021.040039  5960.009766  5975.379883  4940120000
2025-01-07  5993.259766  6000.680176  5890.680176  5909.029785  4517330000
2025-01-08  5910.660156  5927.890137  5874.779785  5918.250000  4441740000
...                 ...          ...          ...          ...         ...
2025-09-03  6445.819824  6453.669922  6416.169922  6448.259766  4465360000
2025-09-04  6456.600098  6502.540039  6445.979980  6502.080078  4670770000
2025-09-05  6529.080078  6532.649902  6443.979980  6481.500000  5066120000
2025-09-08  6498.089844  6508.669922  6483.290039  6495.149902  5211500000
2025-09-09  6503.330078  6518.229980  6483.080078  6512.609863  2665269276

[171 rows x 5 columns]

In [ ]:
from qfin.api.tv import Interval, TvDatafeed

tv = TvDatafeed()
interval = Interval.in_daily
ticker_data = tv.get_hist(symbol="SPX", exchange="SP", interval=interval, n_bars=260)
ticker_data

WARNING:qfin.api.tv:you are using nologin method, data you access may be limited

                     symbol     open     high      low    close        volume
datetime
2024-08-26 10:30:00  SP:SPX  5639.66  5651.62  5602.34  5616.85  1.927000e+09
2024-08-27 10:30:00  SP:SPX  5602.89  5631.18  5593.48  5625.79  1.901000e+09
2024-08-28 10:30:00  SP:SPX  5624.51  5627.03  5560.95  5592.19  2.069000e+09
2024-08-29 10:30:00  SP:SPX  5607.30  5646.95  5583.71  5591.95  2.269000e+09
2024-08-30 10:30:00  SP:SPX  5612.74  5651.37  5581.79  5648.39  2.627000e+09
...                     ...      ...      ...      ...      ...           ...
2025-09-03 10:30:00  SP:SPX  6445.82  6453.67  6416.17  6448.27  2.745000e+09
2025-09-04 10:30:00  SP:SPX  6456.60  6502.54  6445.98  6502.09  2.637000e+09
2025-09-05 10:30:00  SP:SPX  6529.08  6532.65  6443.98  6481.51  3.115000e+09
2025-09-08 10:30:00  SP:SPX  6498.09  6508.67  6483.29  6495.16  2.850000e+09
2025-09-09 10:30:00  SP:SPX  6503.33  6518.23  6483.08  6512.62  2.627000e+09

[260 rows x 6 columns]

In [14]:
from qfin.api.fred import fred

fred("M2SL")

               M2SL
Date
1959-01-01    286.6
1959-02-01    287.7
1959-03-01    289.2
1959-04-01    290.1
1959-05-01    292.2
...             ...
2025-03-01  21656.9
2025-04-01  21804.7
2025-05-01  21883.9
2025-06-01  22021.4
2025-07-01  22115.4

[799 rows x 1 columns]