In [ ]:
## reload submodule
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
import numpy as np
import pandas as pd

from qfin.indicators.common import continue_echo, revert_echo

In [11]:
print("x and z must be equal")


df = pd.DataFrame([0, 0, 1, 1, 1, -1, -1, -1, 0, 0, 1, 1, 1, 2, 2], columns=["x"])

df["signal"] = revert_echo(df["x"])
df["z"] = continue_echo(df["signal"])

df[["x", "z", "signal"]]

x and z must be equal

    x    z  signal
0   0  0.0     0.0
1   0  0.0     NaN
2   1  1.0     1.0
3   1  1.0     NaN
4   1  1.0     NaN
5  -1 -1.0    -1.0
6  -1 -1.0     NaN
7  -1 -1.0     NaN
8   0  0.0     0.0
9   0  0.0     NaN
10  1  1.0     1.0
11  1  1.0     NaN
12  1  1.0     NaN
13  2  2.0     2.0
14  2  2.0     NaN

In [12]:
df = pd.DataFrame([0, 0, 1, 1, 1, -1, -1, -1, 0, 0, 1, 1, 1, 2, 2], columns=["x"])

df["signal"] = revert_echo(df["x"], empty_value="----")
df["z"] = continue_echo(df["signal"], skip_values=["----"])

df[["x", "z", "signal"]]

    x  z signal
0   0  0      0
1   0  0   ----
2   1  1      1
3   1  1   ----
4   1  1   ----
5  -1 -1     -1
6  -1 -1   ----
7  -1 -1   ----
8   0  0      0
9   0  0   ----
10  1  1      1
11  1  1   ----
12  1  1   ----
13  2  2      2
14  2  2   ----